volumes:
  pg_data:
  static:
  media:
  
services:
  db:
    image: postgres:16
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    build: ./backend/
    env_file: .env
    volumes:
      - ./backend/src:/app  # Чтобы изменения отражались сразу
      - static:/backend_static
      - media:/media/
      - ./data:/data
    depends_on:
      - db
      - redis
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  celery_worker:
    build: ./backend/
    env_file: .env
    command: celery -A pitalak_backend worker -l info
    environment:
      - REDIS_HOST=redis
      - DJANGO_SETTINGS_MODULE=pitalak_backend.settings
    depends_on:
      - redis
  gateway:
    build: ./nginx/
    env_file: .env
    volumes:
      - static:/usr/share/nginx/html/
      - media:/media/ 
    depends_on:
      - backend
    ports:
      - 8000:80