{% extends "admin/base.html" %} 
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin_extensions/css/header.css' %}">
{% endblock %}

{% block title %}{{ title }} | {{ 'PITALAK site admin' }}{% endblock %}

{% block branding %}
    <div id="site-name">
        <a href="{% url 'admin:index' %}">{{ 'PITALAK Администрирование' }}</a>
    </div>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
    
    {# Добавляем блок с балансом после заголовка #}
    {% if user.is_authenticated and SMS_PROVIDER_BALANCE %}
            <div class=balance-wrapper>
                {# Текст баланса #}
                <span class=balance-text>
                    {{ SMS_PROVIDER_BALANCE }} 
                </span>
                {# Кнопка принудительного обновления #}
                <a href="{% url 'admin_extensions:refresh_sms_balance' %}?next={{ request.path }}"
                title="Обновить баланс"
                class=refresh-btn>
                &#x27F3; </a>
            </div>
    {% endif %}
{% endblock %}

